.helper-box {
	border:dashed 1px #eee;
	padding: 10px;
	margin: 10px;
	float: left;
	}


.placeholder {
	display: block;
	background: #999;
	}

body {
	width: 1230px;
	font: normal 14px/24px "open_sansregular";
	color: #666;
	width: 1230px;
	}

a {
	color: #004276;
	text-decoration: none;
	}

/*	a:visited {
		color: #2577b7;
		}
*/
	a:hover {
		text-decoration: underline;
		color: #004276;
		}

	a:active {
		text-decoration: underline;
		color: #2577b7;
		}

h1 {

	}

h2 {

	}

h3 {
	font: 24px/24px signikabold;
	}

h4 {
	font: 18px/24px signikaregular;
	}

h5 {

	}

h6 {

	}

/*UI*/

.mp-news {
	border-bottom: solid 10px #da1d23;
	}

	.mp-news li {
		position: relative;
		float: left;
		width: 168px; height: 104px;
		}


	.mp-news li+li {
		margin-left: 9px;
		}

	.mp-news__mp {
		background: #da1d23;
		color: #fff;
		}

		.mp-news__mp p{
			margin: 30px 20px 0;
			font: 22px signikaregular,sans-serif;
			line-height: 24px;
			}


.title-news {
	display: none;
	position: relative;
	font: 16px/24px open_sansregular,sans-serif;
	padding: 10px 21px;
	background: rgb(243,243,238);
	background: rgba(243,243,238,0.8);
	box-shadow: 0 2px 3px #b3b3b3;
	}

	.title-news a {
		display: inline-block;
		}

	.lt-ie9 .title-news {
     background:transparent;
     filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCf3f3ee,endColorstr=#CCf3f3ee); 
     zoom: 1;
		}

.logo {
	display: block;
	width: 109px; height: 37px;
	background: url('../i/logo.png') no-repeat 0 0;
	}

	.logo:hover {
		padding: 9px;
		background: url('../i/logo.png') no-repeat 9px 9px;	
		-webkit-box-shadow: 0 2px 3px #bababa;
		-moz-box-shadow: 0 2px 3px #bababa;
		box-shadow: 0 2px 3px #bababa;
		margin: -9px -9px 20px -9px !important;
		position: relative;
		}

.v-menu {
	font-size: 16px;
	text-transform: uppercase;
	}

.v-menu li {
	line-height: 24px;
	position: relative;
	z-index: 11;
	}

	.v-menu span {
		padding-right: 9px;
		cursor: pointer;
		display: inline-block;
		box-sizing:border-box;
		}

	.v-menu__icon-caret-right {
		font-size: 14px;
		color: #999;
		}

	.v-menu span:hover {
		width: 100%;
		color: #fff;
		padding-left: 5px;
		margin-left: -5px;
		background: rgb(153,153,153);
		background: rgba(153,153,153, 0.5);
		}

	.v-menu span:hover .v-menu__icon-caret-right {
		display: none;
		}

	.v-menu .maintainHover {
		z-index: 20;
		}

	.v-menu .maintainHover span{
		width: 100%;
		background: #999;
		color: #fff;
		padding-left: 5px;
		margin-left: -5px;
		}


.mr-menu {
	box-shadow: 0 0 10px #808080;
	width: 512px;
	}

	.w-mr-menu__cat {
		background: #999;
		vertical-align: top;
		}

	.mr-menu__cat {
		float: left;
		width: 113px;
		padding: 10px 0;
		}

		.mr-menu__cat a {
			font: 11px/24px open_sansbold;
			color: #fff;
			display: block;
			padding: 0 10px;
			}

			.mr-menu__cat a:hover{
				color: #004276;
				text-decoration: none;
				background: rgba(255,255,255);
				background: rgba(255,255,255,0.5);
				}

			.mr-menu__cat a.maintainHover, .mr-menu__cat a.default {
				background: #fff;
				color: #004276;
				text-decoration: none;
				} 

	.w-mr-menu__items {
		background: #fff;
		vertical-align: top;
		}

	.mr-menu__items {
		float: right;
		width: 379px;
		padding: 10px 10px;
		text-transform: none;
		}

		.mr-menu__items ul {
			display: none;
			}

			.mr-menu__items ul.default {
				display: block;
				}

		.mr-menu__items li {
			overflow: hidden;
			margin-bottom: 13px;
			}

		.mr-menu__items h2 {
			color: #bfb6b6;
			font: 14px open_sansitalic;
			}

		.mr-menu__items h3 {
			font: 14px/24px signikaregular;
			padding-top: 5px;
			}

		.items__prv {
			width: 95px; height: 59px;
			float: right;
			}



.form {
	position: relative; z-index: 2;
	overflow: hidden;
	width: 150px;
	margin-left: -5px;
	height: 30px;
	}

	.form.active {
		background: #fafafa;
		box-shadow: 0 0 5px #808080;
		}


	.form .icon-search {
		position: absolute; top: 8px; right: 8px;
		color: #999;
		}

.form-text {
	display: block;
	padding: 5px 5px;
	border-top: none;
	border-left: solid 1px #ececec;			
	border-right: solid 1px #ececec;
	border-bottom: 0;
	-webkit-box-shadow: inset 0 2px 2px #c5c5c5;
	-moz-box-shadow: inset 0 2px 2px #c5c5c5;
	box-shadow: inset 0 2px 2px #c5c5c5;
	color: #999;
	font: 14px "open_sansregular";
	width: 138px;
	background: #fff;
	}


.ico-erase {
	display: block;
	background: url('../i/ico-erase.png') no-repeat 0 50%;
	border: none;
	}


	.form .ico-erase {
		display: none; position: absolute; top: 21px; right: 25px;
		}

	.form .icon-remove-sign {
		font-size: 20px;
		color: #999;
		}


.submit {
	display: block;
	border: none;
	background: #da1d23;
	color: #fff;
	padding: 8px 32px;
	box-shadow: 0 2px 5px #7f7f7f;
	}

	.form .submit {
		display: none;
		float: right;
		margin-top: 17px;
		margin-bottom: 12px;
		}
		.form.active .submit {
			display: block;
			}

.social {
	
	}

	.social li{
		float: left;
		width: 24px; height: 24px;
		}

		.social li a{
			display: block;
			width: 24px; height: 24px;
			}

		.social li+li {
			margin-left: 16px;
			}

.ico-social-fb {
	background: url('../i/ico-social-fb.png') no-repeat;
	}

.ico-social-tw {
	background: url('../i/ico-social-tw.png') no-repeat;
	}

.ico-social-rss {
	background: url('../i/ico-social-rss.png') no-repeat;
	}

.page-menu {

	}

	.page-menu li {
		line-height: 24px;
		}

	.page-menu li a {
		color: #333;
		}

	.headline {
		font: 18px "signikabold";
		color: #999;
		padding-bottom: 7px;
		margin-bottom: 14px;
		box-shadow: 0px 12px 3px -10px rgba(102,102,102,0.3);
		padding-left: 10px;
		margin-left: -10px;
		margin-right: -10px;
		}

.breadpath {
	padding-bottom: 11px;
	margin-bottom: 15px;
	background: url('../i/bg-healine.gif') repeat-x 0 100%;	
	text-transform: uppercase;
	font: 16px open_sansregular;
	color: #958d8d;
	line-height: 24px;
	}

	.breadpath a {
		font: 14px open_sansbold;	
		}

.b-big-news {
	overflow: hidden;
	}

	.b-big-news h3 {
		margin-bottom: 3px;
		}

.b-big-news__prv {
	float: right;
	}

.meta-post {

	}

	.meta-post__company {
		font-family: open_sansbold;
		}

	.meta-post__cat,
	.meta-post__author {
		font: 14px/24px open_sansbold,sans-serif;
		margin-right: 8px;
		}

.form_subsribe__legend {
	font: 14px open_sansitalic;
	line-height: 24px;
	}

	.form_subsribe__legend strong {
		font: italic 14px open_sansbold;
		color: #ec2020;
		}

.copy {

	}


.b-h-news {

	}

	.b-h-news__prv {
		margin-bottom: 14px;
		margin-left: -1px;
		}

	.b-h-news li {
		float: left;
		width: 168px;
		margin-left: 48px;
		}

		.b-h-news li:first-child {
			margin-left: 0;
			}


	.b-h-news_4items {

		}

		.b-h-news_4items li{
			width: 120px;
			margin-left: 40px;
			}

		.b-h-news_4items h4 {
			font-size: 16px;
			line-height: 24px;
			}

		.b-h-news_4items__prv {
			display: block;
			width: 120px; height: 120px;
			margin-bottom: 6px;
			}

.news-feed {
	margin-top: -10px;
	}

	.news-feed li {
		border-top: solid 1px #efdddd;
		padding: 11px 0 10px 0;
		}

		.news-feed li:first-child {
			border-top: none;
			}

	.news-feed h3 {
		padding-top: 3px;
		font: 22px/24px signikaregular;
		}

	.news-feed__prv {
		float: right;
		width: 218px; height: 135px;
		margin-left: 10px;
		}

.b-v-news {
	}

	.aside-right .b-v-news  {
		
		}

	.b-v-news li {
		overflow: hidden;
		border-top: solid 1px #efdddd;
		padding-top: 10px;
		padding-bottom: 12px;
		}

		.b-v-news li:first-child {
			padding-top: 0;
			border-top: none;
			}

			.b-v-news li:first-child h3 {
				margin-top: 6px;
				}

	.b-v-news h3 {
		font: 16px/24px signikaregular;
		}

	.b-v-news_prv {
		float: right;
		width: 96px; height: 72px;
		margin-left: 5px;
		}


.b-v-news_interview {
	margin-top: 18px;
	}

	.b-v-news_interview__prv {
		float: right;
		margin-left: 10px;
		width: 120px; height: 120px;
		}

	.b-v-news_interview h3 {
		font-size: 18px;
		line-height: 24px;
		margin-top: 5px;
		}

.vda__text {
	text-align: right;
	font-size: 12px;
	color: #999;
	} 

.b-hv-news {
	overflow: hidden;
	}

	.b-hv-news__list {
		margin-left: -24px;
		}

	.b-hv-news li {
		width: 142px;
		display: inline-block;
		vertical-align: top;
		margin-left: 24px;
		margin-bottom: 18px;
		}

	.b-hv-news h3 {
		font: 16px/24px signikaregular;
		}

	.b-hv-news_prv {
		display: block;
		width: 144px; height: 90px;
		margin-bottom: 12px;
		}

/*layout*/

.container {
	margin: 58px 0 50px 52px;
	}

.center-content {
	float: left;
	background: #fafafa;
	width: 600px;
	padding: 25px;
	margin: 0 24px 0 46px;
	box-shadow: 0 2px 3px #999;
	}

.aside-right {
	float: left;
	width: 312px;
	margin-top: 25px;
	margin-bottom: 25px;
	}

.aside-left {
	float: left;
	width: 144px;
	margin-top: 6px;
	}


article.post {
	margin-bottom: 33px;
	}

	.post h1 {
		font: 24px/24px signikabold;
		color: #004276;
		}

	.post header {
		margin-bottom: 20px;
		}

	.post footer {
		margin-top: 20px;
		background: #f1eded;
		padding: 8px;
		}

	.post__content {
		font-size: 16px;
		}

		.post__content h2 {
			font: 20px "signikabold";
			color: #040404;
			}

		.post__content p {
			margin: 0 0 24px 0;
			}

		.post__content blockquote {
			margin: 24px 0;
			border-left: solid 8px #bababa;
			padding-left: 14px;
			}

		.post__content a,
		.post__content strong {
			font-family: open_sansbold;
			}

		.post__prv {
			float: right;
			margin-left: 15px;
			}

/*positioning*/

/**/


.v-menu__mr-menu {
	position: absolute; left: 97px; top: -40px;
	display: none;
	}

.mp-news a:hover+.title-news, .title-news:hover {
	display: block;
	}

.mp-news .title-news {
	top: -81px;
	}



/**/

.center-content .news-feed {

	}

.center-content .vda {
	margin-bottom: 40px;
	}

.center-content .b-big-news {
	margin-top: 17px;
	margin-bottom: 24px;
	}

.center-content .b-h-news {
	margin-bottom: 24px;
	overflow: hidden;
	}

/**/

.aside-left .form_subsribe__legend {
	margin-bottom: 22px;
	}

.aside-left .form {
	margin-bottom: 23px;
	}

.aside-left .logo {
	margin-bottom: 29px;
	}

.aside-left .v-menu {
	margin-bottom: 43px;
	}


.aside-left .social {
margin-top: 36px;
margin-bottom: 25px;
}

.aside-left .page-menu {
	border-top: solid 1px #efdddd;
	padding-top: 5px;
	margin-bottom: 24px;
}

.aside-left .copy {
margin-bottom: 20px;
}

/**/

.aside-right .vda {
	margin: 0 5px;
	margin-bottom: 3px;
	}



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
	   (-o-min-device-pixel-ratio: 5/4),
	   (-webkit-min-device-pixel-ratio: 1.25),
	   (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
	background-color: transparent;
	border: none;
	overflow: hidden;
	*text-indent: -9999px;
}

.ir:before {
	content: "";
	display: block;
	height: 150%;
}

.hidden {
	display: none !important;
	visibility: hidden;
}

.visuallyhidden {
	border: none;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

.invisible {
	visibility: hidden;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}




/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
	* {
		background: transparent !important;
		color: #000 !important; /* Black prints faster: h5bp.com/s */
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	/*
	 * Don't show links for images, or javascript/internal links
	 */

	.ir a:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after {
		content: "";
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	thead {
		display: table-header-group; /* h5bp.com/t */
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	@page {
		margin: 0.5cm;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}